.bg{
    /* The image used */
    /*background-image: url("background2.png");*/
    background-image: url("images/background3.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}