@font-face {
    font-family: "font";
    src: url('font/yekan-font/Yekan.eot');
    src: url('font/yekan-font/Yekan.eot?#iefix') format('FontName-opentype'),
    url('font/yekan-font/Yekan.woff') format('woff'),
    url('font/yekan-font/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    font-family: 'font';
    height: 100%;
    margin-top:70px;
    height: auto;
}

.bg2 {
    /* The image used */
    /*background-image: url("background2.png");*/
    background-image: url("images/bg10.jpeg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

/*.bg {*/
    /*!* The image used *!*/
    /*background-image: url("https://i.ibb.co/Wn2yyKd/background.jpg");*/

    /*!* Full height *!*/
    /*height: 100%;*/

    /*!* Center and scale the image nicely *!*/
    /*background-position: center;*/
    /*background-repeat: repeat;*/
    /*background-size: cover;*/
/*}*/

div {
    word-break: break-word;
}

.logo {
    font-size: 110px;
}

@media screen and(max-width: 576px) {
    .logo {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 50px;
    }
}

.jumbotron {
    background: #4c4a4a;
}



